@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background: #000000;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes loading-bar {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-loading-bar {
  background-size: 200% 100%;
  animation: loading-bar 1.5s ease-in-out infinite;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
}
