@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background: #000000;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}
